@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --base-clr: hsl(240, 3%, 8%);
  --primary-txt-clr: #e3e3e3;
  --grad-clr-100: hsl(217, 89%, 61%);
  --grad-clr-200: hsl(354, 60%, 62%);
  --secondary-txt-clr: hsl(210, 3%, 22%);
  --secondary-clr: #1e1f20;
  --hover-clr: #282a2c;

  --content-width: 1000px;

  --fs-500: 3.5rem;
  --fs-400: 1.75rem;
  --fs-300: 1rem;

  --fw-bold: 500;
  --fw-medium: 400;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

html {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}
html:focus-within {
  scroll-behavior: smooth;
}

/*  */
body::-webkit-scrollbar {
  width: 10px;
  background-color: #1e1f20;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--grad-clr-100);
  border-radius: 100vw;
}
body {
  background: var(--base-clr);
}
header,
.typing-form,
.chat .message {
  color: var(--primary-txt-clr);
  max-width: var(--content-width);
  margin-inline: auto;
}
.header {
  margin-top: 8vh;
  font-weight: var(--fw-bold);
  display: none;
}
.header .title,
.header .sub-title {
  font-size: var(--fs-500);
  letter-spacing: -0.03em;
}
.header .title {
  width: fit-content;
  background: linear-gradient(90deg, var(--grad-clr-100), var(--grad-clr-200));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .sub-title {
  color: var(--secondary-txt-clr);
  font-size: clamp(3.5rem, 10vw, 3rem);
}
.suggestion-list {
  margin-top: 9.5vh;
  display: flex;
  gap: 1.5em;
  overflow-x: auto;
  /* margin-bottom: ; */
}
.suggestion-list::-webkit-scrollbar {
  display: none;
}
.suggestion-list .suggestion {
  background: var(--secondary-clr);
  color: #bdc1c6;
  font-weight: var(--fw-medium);
  font-size: var(--fs-300);
  line-height: 1.5;
  width: 200px;
  height: 200px;
  padding: 1.25em;
  border-radius: 0.75em;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  cursor: pointer;

  transition: background 200ms linear;
}
.suggestion > span {
  background-color: #131314;
  padding: 7px;
  border-radius: 50%;
}
.suggestion-list .suggestion:hover {
  background: var(--hover-clr);
}

.prompt-area {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: var(--base-clr);
}
.prompt-area :where(.typing-form, .action-btns) {
  display: flex;
  gap: 0.75rem;
}
.typing-form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-wrapper {
  height: 56px;
  display: flex;
  position: relative;
  width: 100%;
}
.input-wrapper .prompt-input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 1.1rem 4rem 1.1rem 1.5rem;
  border-radius: 6.2rem;
  border: none;
  background-color: var(--secondary-clr);
  color: var(--primary-txt-clr);
  font-family: inherit;
  transition: 100ms linear;
}
.prompt-input:focus {
  outline: none;
  background: var(--hover-clr);
}
.prompt-input::placeholder {
  font-family: "Poppins";
  color: #bdc1c6;
  font-weight: var(--fw-medium);
}
.prompt-area .icon {
  cursor: pointer;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--secondary-clr);
}
.input-wrapper .icon {
  position: absolute;
  right: 0;
  outline: none;
  border: none;
  background: none;
  color: var(--primary-txt-clr);
}
.prompt-area .icon:hover {
  background: var(--hover-clr);
}
.disclaimer {
  text-align: center;
  width: 70%;
  margin-inline: auto;
  color: var(--primary-txt-clr);
  font-size: 0.69rem;
  padding: 1rem 0 1rem;
  font-weight: 400;
  a {
    color: var(--primary-txt-clr);
    text-decoration: none;
    cursor: pointer;
  }
  a:hover,
  a:focus-within {
    text-decoration: underline;
  }
}

/* Chat */
.chat {
  padding: 2rem 1rem 12rem;
  line-height: 1.5;
  /* display: none; */
}
.chat .message.in {
  margin-top: 1.5rem;
}
.chat .message.in:not(.loader):hover span {
  visibility: visible;
}
.chat .message.in > span {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 3.3rem;
  padding: 1.25rem;
  border-radius: 50%;
  visibility: hidden;
}
.chat .message.in > span:hover {
  background: var(--secondary-clr);
}
.chat .message-content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.chat .message .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  align-self: flex-start;
}

.chat .message .text {
  color: var(--primary-txt-clr);
}

/* Loader */
.chat .message.loader .text {
  display: none;
}
.chat .loading-indicator {
  display: none;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
.chat .message.loader .loading-indicator {
  display: flex;
}
@property --grad-percent {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}
@keyframes loaderAnimation {
  0% {
    --grad-percent: -70%;
  }
  99% {
    --grad-percent: 90%;
  }
}
@keyframes rotate {
  100% {
    rotate: 180deg;
  }
}
.chat .message.loader .avatar {
  animation: rotate 1s infinite linear;
}
.chat .loading-indicator .loading-bar {
  height: 11px;
  width: 100%;
  animation: loaderAnimation 1s ease-in-out infinite;
  background: linear-gradient(
    to right,
    #4285f4 var(--grad-percent),
    var(--secondary-clr),
    #4285f4
  );
}
.chat .loading-indicator .loading-bar:last-child {
  width: 60%;
}

@media (max-width: 800px) {
  .prompt-area .input-wrapper {
    height: 45px;
  }
  .prompt-area .typing-form {
    gap: 0.3rem;
  }
  .prompt-area .action-btns {
    gap: 0.3rem;
  }
  .prompt-area .icon {
    height: 45px;
    width: 45px;
  }
  .disclaimer {
    padding-top: 5px;
    width: 100%;
    font-size: 0.6rem;
    a {
      text-decoration: underline;
    }
  }

  .chat .message.in {
    margin-top: 1rem;
  }
  .chat .message.in > span {
    margin-top: 0.1rem;
    visibility: visible;
  }
}
